.container{
    /* background-color: rgb(254, 41, 84); */
    padding: 10px;
    margin: 0;
    min-width: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
.app-title
{
    text-align: center;
    background-color: #eeeeee;
    /* background-color: #4d004d; */
    width: 400px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: #df4c73;
    font-size: 30px;
    box-shadow: 0 2px 4px #00000033;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
}


body {
  
  background: linear-gradient(90deg, rgb(191, 188, 192) 0%, rgba(206, 114, 206, 0.632) 50%, rgba(177, 173, 177, 0.522) 100%);
  }
  
  .todo-flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .text-center {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}
.task-input,.task-input1{
  display: block;
  width: 300px;
  font-size: 18px;
  border: 1px solid #fff;
  /* background-color: #ff80ff; */
  border: 1px solid #4d004d;
  background-color: #b0dde4;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 15px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: grey 0px 1px 3px 1px;
}
.task-input1{
  width: 320px;
}
.btn-add-task{
  background-color: #f2156a;
  color: #ede9e9;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 #00000033;
  margin: 20px;
  cursor: pointer;
  font-size: 14px;
  font-family: bold;
  font-family: 'Times New Roman', Times, serif;
width: 120px;
}
.tasks-container{
  height: 300px;
  overflow-y: scroll;
  font-family: 'Times New Roman', Times, serif;

}
.btn-container{
  display: flex;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
}

.no-task-text{
  text-align: center;
    background-color: #eeeeee;
    /* background-color: #4d004d; */
    width: 400px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: #df4c73;
    font-size: 23px;
    box-shadow: 0 2px 4px #00000033;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
}
